:root{
  $body-background: #fff;
  $decoration-line: #f9f9f9;
  $client-block-background: #3f9ab7;

  // text colors
  $main-color: #000;
  $article-color: #4f4f4f;
  $secondary-color: #f2994a;
  $client-color: #fff;

  // path
  $sprite-path: '../img/sprite/sprite.png';

  // fonts
  $roboto: 'Roboto', sans-serif;
  $nunito: 'Nunito Sans', sans-serif;
}